<h1>Stupid Coaching</h1>
<p>Ask me anything</p>
<p><strong><%= @question %></strong></p>
<p><i> - You </i></p>
<p><strong><%= @answer %></strong></p>
<p><i> - Your coach </i></p>
<%= link_to 'Ask another question?', ask_path %>
