<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<h1>Stupid Coaching</h1>
<p>Ask your coach anything:</p>
<form action="/answer" method="get" class="form-inline" text= text-center>
  <div class="form-group">
    <input class="form-control" type="text" name="question">
  </div>
  <div class="form-group">
    <input class="btn btn-primary" type="submit" value="Ask!">
  </div>
</form>
